<!doctype html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static "css/main.css" %}">
    </head>
    <body>

        <!-- Add your site or application content here -->
        <h1>Dnd Character Sheet</h1>
        {% if chars %}
            <ul>
            {% for char in chars %}
                <li><a href="/{{ char.id }}/">{{ char.char_name }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No polls are available.</p>
        {% endif %}

        <h2><a href="/create/">Create A Character</a></h2>

    </body>
</html>
